<%- include('../partials/header.ejs') %>


<h2>Edit Skate Event</h2>
<form method="POST" action="/events/<%=event.id%>?_method=PUT">
  <h1>Host: <%= event.createdBy.name%></h1>
  <label>Spot?
    <input type="text" name="spot" value="<%=event.spot%>">
  </label><br>
  <label>When?
    <input type="date" name="time" value="<%=event.time%>">
  </label><br>
  <label for="discription">What and Why?</label>
  <input type="text" name="discription" value="<%=event.discription%>">
  <br>
  <br>
  <input type="submit" value="Edit Event">
</form>
<%- include('../partials/footer.ejs') %>