<%- include('../partials/header.ejs') %>

<a href="/">events</a>
</header>
<h2>Edit Skate Event</h2>
<form action="/events/<%=event.id%>?_method=PUT">
  <%= user%>
  <input type="hidden" value="createdBy" name="createdBy"> 
  <label>Spot?
    <input type="text" name="spot"value="<%=event.spot%>">
  </label><br>
  <label>When?
    <input type="date" name="time" value="<%=event.time%>">
  </label><br>
  <label for="discription">What and Why?</label>
  <input type="text" name="discription" value="<%=event.discription%>">
<br>
 <br>
   <input  type="submit" value="Add Event">
 </form>
</body>  
</body>
</html>