<%- include('./partials/header.ejs') %>
<div id="list-box">
      <p>Welcome to Gone Go SK9</p>
      <h1>Events</h1>
  <table>
      <thead>
          <tr>
              <th>Host</th>
              <th>Spot</th>
              <th>Time</th>
              <th>Info</th>
          </tr>
      </thead>
      <tbody>
      <% if(events){%>
          <% events.forEach(function(e) { %>
              <tr>
                  <td><%= e.createdBy.name %></td>
                  <td><%= e.spot %></td>
                  <td><%= e.time %></td>
                  <td><%= e.discription %></td>
                  <td><a href="/events/<%= e._id %>"">more intel</a></td>      
              </tr>
          <% }); }%>
      </tbody>
  </table>
</div>
<%- include('./partials/footer.ejs') %>